<h1 style="text-align: center;">新規登録</h1>

<%= form_with model: @user, local: true do |f| %>

  <p style="text-align: center;">
    <%= f.label :name, "名前" %><br>
    <%= f.text_field :name %>
  </p>

  <p style="text-align: center;">
    <%= f.label :email, "メールアドレス" %><br>
    <%= f.email_field :email %>
  </p>

  <p style="text-align: center;">
    <%= f.label :password, "パスワード" %><br>
    <%= f.password_field :password %>
  </p>

  <p style="text-align: center;">
    <%= f.label :password_confirmation, "パスワード確認" %><br>
    <%= f.password_field :password_confirmation %>
  </p>

  <p style="text-align: center;">
    <%= f.submit "登録" ,class: "search-button"%>
  </p>

<% end %>

<p style="text-align: center;">
  <%= link_to "ログインへ戻る", login_path %>
</p>
