<h1 style="text-align: center;">新規登録</h1>

<% if @user.errors.any? %>
  <div style="color: red;">
    <strong><%= @user.errors.count %>件のエラーがあります：</strong>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @user, local: true do |f| %>

  <p style="text-align: center;">
    <%= f.label :name, "名前" %><br>
    <%= f.text_field :name %>
  </p>

  <p style="text-align: center;">
    <%= f.label :email, "メールアドレス" %><br>
    <%= f.email_field :email %>
  </p>

    <%= f.password_field :password %>
  </p>

  <p style="text-align: center;">
    <%= f.label :password_confirmation, "パスワード確認" %><br>
    <%= f.password_field :password_confirmation %>
  </p>

  <p style="text-align: center;">
    <%= f.submit "登録" ,class: "search-button"%>
  </p>

<% end %>

<p style="text-align: center;">
  <%= link_to "ログインへ戻る", login_path %>
</p>
