<h1 style="text-align: center;">ユーザー情報</h1>

<p style="text-align: center;">
  <strong>名前:</strong>
  <%= @user.name %>
</p>

<p style="text-align: center;">
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p style="text-align: center;">
  <strong>役割:</strong>
  <%= @user.role %>
</p>

<p style="text-align: center;">
<p>
  <strong>登録日:</strong>
  <%= @user.created_at.strftime("%Y/%m/%d %H:%M") %>
</p>

<hr>

<p style="text-align: center;">
<%= link_to '編集する', edit_user_path(@user), class: 'btn btn-primary' %> |
<%= link_to '戻る', root_path, class: 'btn btn-secondary' %>
</p>
