<!DOCTYPE html>
<html>
<head>
  <title>UniMete</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>   
</head>
<body>
  <header>
    <h1><a href="<%= root_path %>">UniMete</a></h1>
    <nav>
      <% if logged_in? %>
        <span>こんにちは、<%= current_user.name %>さん</span>
        | <%= link_to "プロフィール", user_path(current_user) %>
        | <%= link_to "ログアウト", logout_path, method: :delete %>
      <% else %>
        <%= link_to "新規登録", new_user_path %> |
        <%= link_to "ログイン", login_path %>
      <% end %>
    </nav>

    <% if notice %><p style="color:green;"><%= notice %></p><% end %>
    <% if alert %><p style="color:red;"><%= alert %></p><% end %>
  </header>

  <main>
    <%= yield %>
  </main>
</body>
</html>
